@font-face {
  font-family: Hack;
  src: url(Hack-Bold.ttf);
}

body *, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  user-select: none;
}

body {
  font-family: Hack;
  font-size: 1rem;
}

.mobile {
  display: none;
}

.pc {
  display: inline-block;
}

a {
  color: rgb(200, 200, 200);
}

a.visited {
  color: rgb(100, 100, 100);
}

a:hover {
  color: rgb(255, 255, 255);
}

.instructions {
  position: absolute;
  width: 100vw;

  top: 1vh;

  display: flex;
  flex-direction: row;
  justify-content: center;

  font-size: 2rem;
}

#text:before {
  content: "\00a0";
}

.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

#sketch {
  height: 80vh;
  width: 80vh;

  touch-action: none;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.controls * {
  cursor: pointer;
  margin-left: 1vw;
  margin-right: 1vw;

  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border-radius: 2px;
}

.footer {
  z-index: 0;

  position: absolute;
  width: 100vw;
  bottom: 1vh;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.footer * {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  #sketch {
    height: 95vw;
    width: 95vw;
  }

  .pc {
    display: none;
  }

  .mobile {
    display: inline-block;
  }

  .footer {
    flex-direction: column;
    align-items: space-around;
  }

  .footer a {
    margin-top: 2vh;
    margin-bottom: 2vh;
  }
}