@font-face {
  font-family: Hack;
  src: url(Hack-Bold.ttf);
}

body *, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  user-select: none;
}

body {
  font-family: Hack;
}

.mobile {
  display: none;
}

.pc {
  display: inline-block;
}

a {
  color: rgb(200, 200, 200);
}

a.visited {
  color: rgb(100, 100, 100);
}

a:hover {
  color: rgb(255, 255, 255);
}

.instructions {
  position: absolute;
  width: 100vw;

  top: 1vh;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

#text:before {
  content: "\00a0";
}

.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

#sketch {
  height: 85vh;
  width: 85vh;

  touch-action: none;
}

.controls {
  z-index: 10;

  position: absolute;
  width: 100vw;

  bottom: 1vh;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.controls * {
  cursor: pointer;
  margin-left: 5vw;
  margin-right: 5vw;
}

.footer {
  z-index: 0;

  position: absolute;
  width: 100vw;

  bottom: 1vh;

  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.footer * {
  margin-left: 5vw;
  margin-right: 5vw;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  #sketch {
    height: 95vw;
    width: 95vw;
  }

  .controls {
    bottom: 15vh;
  }

  .pc {
    display: none;
  }

  .mobile {
    display: inline-block;
  }
}